<%= form_with model: @post, class: :form, local: true do |form| %>
<%= f.label :画像 %><br />
  <%= f.file_field :img, class: "image" %>
  <p><%= f.check_box :remove_img %>画像を削除する</p>
  <%= f.submit %>
<% end %>