<div class="content__title">
  新規記事の作成
</div>
  <div class="container">
    <%= form_with model: @post, class: :form, local: true do |form| %>
      <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
      <%= form.text_field :image, placeholder: "Image Url" %>
      <%= form.text_area :content, placeholder: :ブログ本文, class: :form__text %>
      <%= form.submit '投稿する', class: :form__btn %>
    <% end %>
  </div>