<div class="postTitle">
  <%= @post.title %>
</div>
<div class="postDate">
  <%= @post.created_at %>
</div>
<div class="postAuthor">
</div>
<% if user_signed_in? && current_user.id == @post.user_id %>
  <div class="postManage">
    <%= link_to "Modificare", edit_post_path(@post.id), class: "postManage__edit" %>
    <%= link_to "Elimina", post_path(@post.id), method: :delete, class: "postManage__delete" %>
  </div>
<% end %>
<div class="postText">
  <%= simple_format @post.content %>
</div>
<div class="content_post" style="background-image: url(<%= @post.image %>);">
</div>
  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ Posting comments requires new registration / login ※※※</p></strong>
    <% end %>

   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>


