<!DOCTYPE html>
<html>
  <head>
    <title>Miya.D-Life</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "Miya,Disney-Life", root_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
      <% if user_signed_in? %>
          <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
          <%= link_to "New post", new_post_path, class: "header__right--btn" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "header__right--btn" %>
        <%= link_to "sign up", new_user_registration_path, class: "header__right--btn" %>
      <% end %>
      </div>
    </header>
      <div class="navbar">
      <p>PICK UP List</p>
        <p>
          <a href="https://www.tokyodisneyresort.jp/">Tokyo Disney Resort</a>
          <a href="https://store.disney.co.jp/">Disney Store</a>
          <a href="https://twitter.com/disneyjp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
          <a href="https://www.instagram.com/tokyodisneyresort_official/?hl=ja">Instagram</a>
        </p>
      </div>
      <div class="contents">
        <%= yield %>
      </div>
    <div class="footer">
    <a href="https://ja.wikipedia.org/wiki/%E3%82%A6%E3%82%A9%E3%83%AB%E3%83%88%E3%83%BB%E3%83%87%E3%82%A3%E3%82%BA%E3%83%8B%E3%83%BC">Wolt Disney</a>
     All our dreams can come true, if we have the courage to pursue them. I only hope that we don’t lose sight of one thing – that it was all started by a mouse.
       
    </div>
  </body>
</html>
