<!DOCTYPE html>
<html>
  <head>
    <title>my_Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "my-blog", root_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
      <%= link_to "Manager's room", "/owners/}" %>
      <% if user_signed_in? %>
          <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
          <%= link_to "New post", new_post_path, class: "header__right--btn" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "header__right--btn" %>
        <%= link_to "sign up", new_user_registration_path, class: "header__right--btn" %>
      <% end %>
      </div>
    </header>
      <div class="navbar">
          My favorite place
      </div>
      <div class="contents">
        <%= yield %>
      </div>
    <div class="footer">
      my-Blog/Questo blog è stato creato da me
    </div>
  </body>
</html>
